<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-division-heading"
        data-cy="DivisionCreateUpdateHeading"
        jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.home.createOrEditLabel"
      >
        Create or edit a Division
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.shortName" for="field_shortName"
            >Short Name</label
          >
          <input type="text" class="form-control" name="shortName" id="field_shortName" data-cy="shortName" formControlName="shortName" />
          <div *ngIf="editForm.get('shortName')!.invalid && (editForm.get('shortName')!.dirty || editForm.get('shortName')!.touched)"></div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.numberOfPeople"
            for="field_numberOfPeople"
            >Number Of People</label
          >
          <input
            type="number"
            class="form-control"
            name="numberOfPeople"
            id="field_numberOfPeople"
            data-cy="numberOfPeople"
            formControlName="numberOfPeople"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.divisionType" for="field_divisionType"
            >Division Type</label
          >
          <select class="form-control" name="divisionType" formControlName="divisionType" id="field_divisionType" data-cy="divisionType">
            <option [ngValue]="null">{{ 'sampleWebfluxMongodbApp.DivisionType.null' | translate }}</option>
            <option value="SCHOOL">{{ 'sampleWebfluxMongodbApp.DivisionType.SCHOOL' | translate }}</option>
            <option value="CLASS">{{ 'sampleWebfluxMongodbApp.DivisionType.CLASS' | translate }}</option>
            <option value="SUBGROUP">{{ 'sampleWebfluxMongodbApp.DivisionType.SUBGROUP' | translate }}</option>
          </select>
          <div
            *ngIf="editForm.get('divisionType')!.invalid && (editForm.get('divisionType')!.dirty || editForm.get('divisionType')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('divisionType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.colorBackground"
            for="field_colorBackground"
            >Color Background</label
          >
          <input
            type="text"
            class="form-control"
            name="colorBackground"
            id="field_colorBackground"
            data-cy="colorBackground"
            formControlName="colorBackground"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.colorText" for="field_colorText"
            >Color Text</label
          >
          <input type="text" class="form-control" name="colorText" id="field_colorText" data-cy="colorText" formControlName="colorText" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
