<div>
  <h2 id="page-heading" data-cy="DivisionHeading">
    <span jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.home.title">Divisions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-division"
        [routerLink]="['/division/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.home.createLabel"> Create a new Division </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="divisions?.length === 0">
    <span jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.home.notFound">No divisions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="divisions && divisions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.name">Name</span></th>
          <th scope="col"><span jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.shortName">Short Name</span></th>
          <th scope="col"><span jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.numberOfPeople">Number Of People</span></th>
          <th scope="col"><span jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.divisionType">Division Type</span></th>
          <th scope="col"><span jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.colorBackground">Color Background</span></th>
          <th scope="col"><span jhiTranslate="sampleWebfluxMongodbApp.testRootDivision.colorText">Color Text</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let division of divisions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/division', division.id, 'view']">{{ division.id }}</a>
          </td>
          <td>{{ division.name }}</td>
          <td>{{ division.shortName }}</td>
          <td>{{ division.numberOfPeople }}</td>
          <td jhiTranslate="{{ 'sampleWebfluxMongodbApp.DivisionType.' + division.divisionType }}">{{ division.divisionType }}</td>
          <td>{{ division.colorBackground }}</td>
          <td>{{ division.colorText }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/division', division.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/division', division.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(division)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
